# Erklärungen zur  Syntax in – "End-to-end Machine Learning project"

## Vorbereitung

In [1]:
#Angeben, unter welchen Systemvoraussetzungen das Notebook läuft

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Zugriff auf Pandas-Daten
Das Ausgeben von Spalten, Zeilen und Zellen bei einem Pandas-Dataframe

In [2]:
data =pd.DataFrame([[1,2,101],[3,4,102],[5,6,103],[7,8,104],[9,10,105],[11,12,106],
                [13,14,107],[15,16,108],[17,18,109],[19,20,110]], 
                   columns=["A","B","C"],
                   index=["zeile1","zeile2","zeile3","zeile4","zeile5","zeile6","zeile7","zeile8","zeile9","zeile10",])

In [3]:
data

          A   B    C
zeile1    1   2  101
zeile2    3   4  102
zeile3    5   6  103
zeile4    7   8  104
zeile5    9  10  105
zeile6   11  12  106
zeile7   13  14  107
zeile8   15  16  108
zeile9   17  18  109
zeile10  19  20  110

### Zugriff über iloc

In [4]:
print("Angabe von Inhalten mit Nummern, wie bei Listen")
print(data.iloc[0,0])
print("\n")
print(data.iloc[[1,2,3,4],[0,1] ])
print("\n")
print(data.iloc[[0,1],[0]])

Angabe von Inhalten mit Nummern, wie bei Listen
1


        A   B
zeile2  3   4
zeile3  5   6
zeile4  7   8
zeile5  9  10


        A
zeile1  1
zeile2  3

### Zugriff über loc

In [5]:
print("erste Zeile des pandas-Dataframes")
print(data.loc["zeile1"],end="\n\n\n")
type(data.loc["zeile1"])

print("die beiden AnfangsZeilen des pandas-Dataframes\n",data.loc[  ["zeile1","zeile2"]   ])

erste Zeile des pandas-Dataframes
A      1
B      2
C    101
Name: zeile1, dtype: int64


die beiden AnfangsZeilen des pandas-Dataframes
         A  B    C
zeile1  1  2  101
zeile2  3  4  102

### Zugriff über Spaltenbezeichnung

In [6]:
print("erste Spalte des pandas-Dataframes")
#print(data.loc["zeile1"],end="\n\n\n")

print(data["A"],end="\n\n\n")
type(data["A"])
print("die beiden Anfangsspalten des pandas-Dataframes\n",data[   ["B","B"]   ])

erste Spalte des pandas-Dataframes
zeile1      1
zeile2      3
zeile3      5
zeile4      7
zeile5      9
zeile6     11
zeile7     13
zeile8     15
zeile9     17
zeile10    19
Name: A, dtype: int64


die beiden Anfangsspalten des pandas-Dataframes
           B   B
zeile1    2   2
zeile2    4   4
zeile3    6   6
zeile4    8   8
zeile5   10  10
zeile6   12  12
zeile7   14  14
zeile8   16  16
zeile9   18  18
zeile10  20  20

In [7]:
"""
eindimensional : pandas.Series
zweidimensional: pandas.DataFrame
Inhalt: numpy.array
"""
print()

## Das zufallsgetriebene Mischen eines Datensatzes

In [8]:

data
print("Größe der Gesamtmenge:\t",len(data))

Größe der Gesamtmenge:	 10

In [9]:
# In dieser Zelle nach und nach die Zeilen aus dem Kommentar herausnehmen
# Permutation 1,2,3,4...10------------4,2,1,3.10...---10,4,3,2,1....--1,10,4,2,3....

test_set = ""

#np.random.seed(42)
shuffled_indices = np.random.permutation(len(data))#np.random.permutation(10)


print("Permutation der Zeilenindizes:\t",shuffled_indices)
test_set_size = int(len(data) * 0.2)
print("Größe der Testmenge:\t",test_set_size)

test_indices = shuffled_indices[:test_set_size]
test_indices = shuffled_indices[:2]
print("Indizes für die Testmenge:\t",test_indices)
test_set = data.iloc[test_indices]
print("Testdaten")

test_set

Permutation der Zeilenindizes:	 [7 5 3 0 6 8 2 1 4 9]
Größe der Testmenge:	 2
Indizes für die Testmenge:	 [7 5]
Testdaten

         A   B    C
zeile8  15  16  108
zeile6  11  12  106

In [10]:
# Alternative: den ganzen Content von data permutieren
Z = np.random.permutation(data)
Z

array([[ 19,  20, 110],
       [  7,   8, 104],
       [ 13,  14, 107],
       [  1,   2, 101],
       [ 15,  16, 108],
       [  9,  10, 105],
       [  3,   4, 102],
       [  5,   6, 103],
       [ 11,  12, 106],
       [ 17,  18, 109]], dtype=int64)

## Code-Erklärung 3
Nullwerte in einem Datensatz entdecken

In [11]:
# Der Datensatz mit Nullwerten wird hier künstlich erzeugt
data.iloc[0,0]=np.nan
data.iloc[2,2]=data.iloc[3,2]=data.iloc[4,2]=pd.NA
data

            A   B      C
zeile1    NaN   2  101.0
zeile2    3.0   4  102.0
zeile3    5.0   6    NaN
zeile4    7.0   8    NaN
zeile5    9.0  10    NaN
zeile6   11.0  12  106.0
zeile7   13.0  14  107.0
zeile8   15.0  16  108.0
zeile9   17.0  18  109.0
zeile10  19.0  20  110.0

In [12]:
# von jeder ZELLE wird gesagt, ob sie nan enthält oder nicht
data.isnull()

             A      B      C
zeile1    True  False  False
zeile2   False  False  False
zeile3   False  False   True
zeile4   False  False   True
zeile5   False  False   True
zeile6   False  False  False
zeile7   False  False  False
zeile8   False  False  False
zeile9   False  False  False
zeile10  False  False  False

In [13]:
# von jeder ZEILE wird gesagt, ob sie nan enthält oder nicht
data.isnull().any(axis = 1)

zeile1      True
zeile2     False
zeile3      True
zeile4      True
zeile5      True
zeile6     False
zeile7     False
zeile8     False
zeile9     False
zeile10    False
dtype: bool

In [14]:
# Nur die Zeilen anzeigen, wo isnull auf True steht
# Die boolsche Beschreibung der Zeilen funktioniert wie ein Index. 
#          wir wollen nur die Zeilen sehen, wo isnull True geliefert hat
null_zeilen = data.isnull().any(axis = 1)
data[null_zeilen]

          A   B      C
zeile1  NaN   2  101.0
zeile3  5.0   6    NaN
zeile4  7.0   8    NaN
zeile5  9.0  10    NaN

In [15]:
# Der obige Code in einer Zeile
data[data.isnull().any(axis = 1)]

          A   B      C
zeile1  NaN   2  101.0
zeile3  5.0   6    NaN
zeile4  7.0   8    NaN
zeile5  9.0  10    NaN